.tag-div {
    background-color: rgba(192, 192, 192, 0.7);
    border-radius: 0.3rem;
    margin-inline-end: 0.5rem;
}

.cross-ico {
    color: grey;
    margin-left: 0.5rem;
}

@media (max-width: 280px) {
    .tag-form input {
        width: 6rem; // when screen size < 280px
    }
}