#student-card {
    width: 50rem;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0.3rem 0.3rem 1rem 0.2rem rgba(128, 128, 128, 0.3);
}

@media (min-width: 768px) {
    $img-width: 8rem; // when screen size > 768px

    #student-card img {
        width: $img-width;
        height: $img-width;
    }
}

@media (max-width: 768px) {
    $img-width: 5rem; // when screen size < 768px

    #student-card img {
        width: $img-width;
        height: $img-width;
    }
}

#student-card img {
    object-fit: cover;
    border: 0.05rem solid;
    border-radius: 50%;
}

#student-card-title {
    font-weight: bold;
}

@media (max-width: 300px) {
    $ico-width: 1.25rem; // when screen size < 300px

    #btn-ico {
        width: $ico-width;
        height: $ico-width;
    }
}